#hover1:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    text-decoration: none !important;
    color: white;
}

#hover2:hover {
    transform: scale(0.8);
    transition: transform 0.3s;
    text-decoration: none !important;
    color: white;
}

#hover3:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    text-decoration: none !important;
    color: white;
}