body {
    margin: 0;
    padding: 0;
    background-color: black; /* White background color */
    font-family: "Times New Roman", sans-serif; /* Choose your preferred font-family */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

img {
    padding-bottom: 20px;
    padding-top: 30px;

}

h3, p {
    color: #1a1a1a;
}



#circle2 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 888;
    opacity: 20%;
}

#circle5 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}


#circle8 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 83%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}

#circle9 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}

#circle15 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}

#circle25 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 39%;
    left: 69%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}

#circle29 {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 84%;
    left: 69%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 20%;
}

#circle2:hover,
#circle5:hover,
#circle8:hover,
#circle9:hover,
#circle15:hover,
#circle25:hover,
#circle29:hover
{
    opacity: 30%;
}

#blackBox {
    width: 200px;
    height: 100px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}

#boxText {
    text-align: center;
    font-size: 17px;
    color: white;
}

